* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 1340px;
}

@font-face { /*Fonte*/
	font-family: "Raleway";
	src: url(../RalewayRegular.ttf);
}

@font-face { /*Fonte*/
	font-family: "NanumGothic";
	src: url(../NanumGothicRegular.ttf);
}

body { /*Página toda*/
	background-color: rgb(230, 230, 230); /*Cinza*/
}

/*MENU*/

.menu { /*Menu*/
	overflow: hidden;
	/*	position: fixed; --> Menu fixado
		width: 100%; */
	background-color: #29862F; /*Verde*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menu a { /*Links do Menu*/
	float: left;
	padding: 30px 25px;
	font-family: "NanumGothic";
		color: white; /*Branco*/
		font-size: 22px;
		text-decoration: none;
		text-shadow: 2.3px 2.3px rgba(0,0,0,0.40);
}

.submenu { /*Sub-menu*/
	float: left;
	overflow: hidden;
}

.submenu .submenubtn { /*Sub-menu e Menu-primário*/
	border: none;
	outline: none;
	padding: 30px 25px;
	margin: 0;
	background-color: inherit;
	font-family: "NanumGothic";
		color: white; /*Branco*/
		font-size: 22px;
		text-shadow: 2.3px 2.3px rgba(0,0,0,0.40);
	
}

.menu a:hover, .submenu:hover .submenubtn:hover { /*Ao passar o mouse sobre o menu*/
	background-color: #226526; /*verde-Escuro*/
	transition-duration: 0.3s;
}

.submenucontent { /*Conteúdo do sub-menu*/
	display: none;
	width: 100%;
	position: absolute;
		left: 0;
	background-color: #226526; /*verde-Escuro*/
	z-index: 1;
}

.submenucontent a { /*Links do sub-menu*/
	float: left;
	font-family: "NanumGothic";
		color: white;
		text-decoration: none;
}

.submenucontent a:hover { /*Ao passar o mouse sobre os links do sub-menu*/
	background-color: #1D5520; /*Verde muito escuro*/
	transition-duration: 0.3s;
}

.submenu:hover .submenucontent { /*Mostrar submenu ao passar o mouse sobre*/
	display: block;
}

/*FIM DO MENU*/

/*DESCRIÇÃO DAS FOTOS*/

.desc {
  padding: 15px;
  font-family: "Raleway";
  text-align: center;
}

/*FIM DA DESCRIÇÃO DAS FOTOS*/

/*RECENT*/

.recent {
	font-family: "NanumGothic";
		font-size: 15px;
		color: rgb(100, 100, 100);
	padding: 35px 50px;
}

.recentgallery {
	margin-left: 15px;
	border: 1px solid #cccccc;
	float: left;
	width: 400px;
}

.recentgallery:hover {
  border: 1px solid #777;
  transition-duration: 0.2s;
}

.recentgallery img {
  width: 100%;
  height: auto;
}

/*FIM DO RECENT*/

/*MOST VISITED*/

.mostvisited {
	font-family: "NanumGothic";
		font-size: 15px;
		color: rgb(100, 100, 100);
	padding: 35px 50px;
		padding-top: 310px;
}

.mostvisitedgallery {
	margin-left: 15px;
	border: 1px solid #cccccc;
	float: left;
	width: 400px;
}

.mostvisitedgallery:hover {
  border: 1px solid #777;
  transition-duration: 0.2s;
}

.mostvisitedgallery img {
  width: 100%;
  height: auto;
}

/*FIM DO MOST VISITED*/

/*EXPLORE*/

.explore {
	font-family: "NanumGothic";
		font-size: 15px;
		color: rgb(100, 100, 100);
	padding: 35px 50px;
		padding-top: 310px;
}

.exploregallery {
	margin-left: 15px;
	border: 1px solid #cccccc;
	float: left;
	width: 400px;
}

.exploregallery:hover {
  border: 1px solid #777;
  transition-duration: 0.2s;
}

.exploregallery img {
  width: 100%;
  height: auto;
}